doctype html
html
  head
    title= `${title} @ ${h.siteName}`
    link(href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.27/css/uikit.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav.uk-navbar-container(uk-navbar)
      .uk-navbar-left
        a(class="uk-navbar-item uk-logo" href="/")
          img(src="img/logo" alt="VGDates")

        ul.uk-navbar-nav
          each item in h.menu
            li
              a(href=item.slug)= item.title
              .uk-navbar-dropdown
                ul(class="uk-nav uk-navbar-dropdown-nav")
                  if item.children
                    each child in item.children
                      li
                        a(href=child.slug)= child.title

    block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              article.message
                .message-header
                  p= message
                  button.delete(onClick="this.parentElement.remove()") &times;
    .uk-section
      div(class="uk-container uk-container-large")
        block content

    block scripts
      // Required for UI Kit
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

      // UI Kit
      script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.27/js/uikit.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.27/js/uikit-icons.min.js")