mixin gameForm(game = {})

  form.uk-form-horizontal(action=`/games/add/${game._id || ''}` method="POST")
    .uk-margin
      label.uk-form-label(for="title") Title
      .uk-form-controls
        input.uk-input(type="text" name="title" value=game.title placeholder="Asura's Wrath")
    
    .uk-margin
      label.uk-form-label(for="release") Release Date
      - Object.keys(game).length === 0 ? date = '' : date = h.moment(game.release).format('YYYY-MM-DD')
      .uk-form-controls
        input.uk-input(type="date" name="release" value=`${game.release ? h.moment(game.release).format('YYYY-MM-DD') : ''}`)

    .uk-margin
      label.uk-form-label(for="description") Description
      .uk-form-controls
        input.uk-input(type="text" name="description" value=game.description placeholder="This game is really underrated!")

    - const choices = ['3DS', 'PC', 'PS3', 'PS4', 'PS Vita', 'Switch', 'Wii U', 'Xbox 360', 'Xbox One']
    - const platforms = game.platforms || []
    
    .uk-margin
      h4 Platforms
      each choice in choices
        .uk-margin
          label.checkbox(for="choice")= choice
          input.uk-checkbox(type="checkbox" id=choice value=choice name="platforms" checked=(platforms.includes(choice)))

    .uk-margin
      button(class="uk-button uk-button-primary" type="submit") Submit to the database